<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add-currency" method="post">
        <input type="text" name="market_place" placeholder="Market Place"><br><br>
        <input type="text" name="currency" placeholder="Currency"><br><br>
        <input type="submit" value="Add">
    </form>
    <p><%= result %> </p>
</body>
</html>